.wrapper{
    width: 1170px;
    margin: 0 auto;
}
.wrapper-nav{
    width: 1170px;
    height: 68px;
    display: inline-flex;
    flex-flow: row;
    align-items: center;
}
/*--------Navegador-----------*/
.nav-bar-top-general{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    background-color: #1b2126;
}
.nav-bar-top{
    display: flex;
    color: white;
    margin: 0 auto;
}
.nav-start{
    width: 15%;
    justify-content: flex-start;
    align-items: center;
}
.nav-middle{
    width: 58%;
    justify-content: center;
    align-items: center;
}
.nav-end{
    width: 27%;
    justify-content: flex-end;
    align-items: center;
}
.nav-bar-top img{
    object-fit: contain;
}
.nav-bar-top li{
    cursor: pointer;
    padding:15px;
    list-style-type: none;
    font-family: NunitoSans Regular;
    font-size: 14px;
}
.nav-bar-top input{
    width: 300px;
    height: 38px;
    border-width: 0px;
    padding-left: 50px;
    border-radius: 6px 6px 6px 6px;
    background-color: #5c6269;
    background-image: url('/img/lupa.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-position-x: 15px;
    font-family: NunitoSans Regular;
    font-size: 14px;
    color: whitesmoke;
}
.nav-bar-top input::-webkit-input-placeholder{
    color: #1b2126;
}
.nav-bar-top button{
    height: 45px;
    width: 45px;
    margin-left: 15px;
    border-width: 0px;
    color: #1b2126;
    background-color:  #5c6269;
    border-radius: 50%;
    font-family: NunitoSans Regular;
    font-size: 15px;
}
.nav-bar-top button:hover{
    background-color: #1b2126;
    cursor: pointer;
    color: white;
}
/*------Barra lateral---------*/
.aside-filter-general{
    cursor: default;
    width: 27%;
    height: 100%;
    border-right: 1px solid #e9ecee;
    font-family: NunitoSans Semibold;
    float: left;
}
.filter-edit{
    width: 240px;
    height: 50px;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
}
.filter-span{
    cursor: default;
}
.filter-span-delete{
    cursor: pointer;
    color: #E06646;
}
.year-text-container{
    width: 240px;
    height: 50px;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.year-span{
    cursor: default;
}
.year-span-text{
    cursor: default;
    padding-left: 5px;
    padding-right: 5px;
    font-family: NunitoSans Regular;
    font-size: 13px;
    color: #e9ecee;
    border: 2px solid #e9ecee;
    border-radius: 12px 12px 12px 12px;
}
.slider-year-general{
    width: 240px;
    height: 50px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.slider-year-container{
    width: 100%;
    height: 100%;
}
.slider-imdb{
    width: 240px;
    height: 50px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.slider-imdb-own{
    width: 100%;
    height: 100%;
}
.genres-text-container{
    width: 240px;
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
.genres-text-title{
    cursor: default;
}
.genres-button-general{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.genres-button-container{
    margin-right: 10px;
    margin-bottom: 10px;
}
.genres-button{
    width: 115px;
    min-height: 33px;
    background-color: transparent;
    border-radius: 5px 5px 5px 5px;
    border: 2px solid #e9ecee;
}
/*---Barra Superior----*/
.bar-top-films{
    width: 100%;
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.films-find{
    cursor: default;
    font-family: NunitoSans SemiBold;
    font-size: 15px;
    font-weight: bold;
}
.films-find-text{
    font-family: NunitoSans Regular;
    font-size: 15px;
    font-weight: 200;
}
.films-selected{
    cursor: pointer;
}
/*----------Films--Container-------------*/
.films-all-container{
    width: 70%;
    float: right;
}
/*-----Show-Film-----*/
.film-selected-general{
    z-index: 50;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
}
.film-selected-container{
    background-color: white;
    margin-left: 5%;
}
/*----Box-Message-----*/
.message-box{
    z-index: 150;
    width: 350px;
    height: 100px;
    position: fixed;
    top: 100px;
    right: 100px;
    background-color: rgba(207, 26, 26, 0.9);
    border-radius: 5px 5px 5px 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.message-box--title{
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif, NunitoSans;
    font-size: 17px;
    color: white;
}
/*-----show--form--user-----*/
.user-form-general{
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 150;
    width: 100%;
    height: 100%;
    z-index: 150;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
}
.user-form-container{
    width: 350px;
    height: 250px;
    background-color: white;
    border-radius:  5px 5px 5px 5px;
    font-size: 20px;
}
.user-form-container-close{
    cursor: pointer;
    position: fixed;
    margin-left: 330px;
    color: rgba(128, 128, 128);
    display: flex;
    justify-content: flex-end;
}
.user-form-register-container-close{
    cursor: pointer;
    position: fixed;
    margin-left: 480px;
    color: rgba(128, 128, 128);
    display: flex;
    justify-content: flex-end;
}
.user-form-container-register{
    background-color: #5c6269;
    border-radius: 6px 6px 6px 6px;
    margin-top: 2px;
    border: 1px solid white;
    color: white;
    width: 350px;
    height: 50px;
}
.user-form-container-register:hover{
    background-color: #1b2126;
}
/*--------Register--container-----------*/
.user-form-register-container{
    width: 500px;
    height: 600px;
    background-color: white;
}
/*-----------Login--container-------------*/
.login-button-container{
    width: 100%;
    height: 100%;
}
.login-button-container button{
    width: 300px;
    height: 30px;
    border-width: 0px;
    background-color:  #5c6269;
    border-radius: 4px 4px 4px 4px;
    font-family: NunitoSans;
    font-size: 16px;
    color: #1b2126;
}
/*-------Form--Login--User--------*/
.form-login-user-general{
    cursor: pointer;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    transition: 0.3s ease-out;
    border-width: 0px;
    box-shadow: 0 0 1px 1px rgba(128, 128, 128, 0.55);
    background-color: rgb(96, 104, 109);
    margin-right: 10px;
    position: fixed;
    top: 145px;
    right: 0;
    color: white;
}
.form-login-user-general:hover{
    transition: 0.3s ease-out;
    box-shadow: 0 0 5px 5px rgba(128, 128, 128, 0.55);
}
.form-login-user-img{
    width: 90px;
    height: 90px;
    object-fit: contain;
}
.form-login-user-img:hover{
    opacity: 0;
}
.form-login-user-text{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: NunitoSans Regular;
    font-size: 18px;
}
.form-login-user-exit{
    opacity: 0;
    position: fixed;
    color: white;
    width: 90px;
    height: 90px;
}
.form-login-user-exit:hover{
    position: fixed;
    top: 145px;
    background-color: #5c6269;
    border-radius: 50%;
    opacity: 1;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*---------footer--films-----------*/
.footer-page-films{
    width: 50%;
    height: 50px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.4);
    margin: auto;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}
.footer-page-registrate{
    cursor: pointer;
    font-family: NunitoSans Regular;
    font-size: 16px;
    color: black;
}
.footer-page-registrate:hover{
    text-decoration: none;
    font-weight: 500;
    color: black;
}
.footer-page-coprit{
    cursor: default;
    display: flex;
    flex-flow: row;
    align-items: center;
    font-weight: 100;
    font-family: NunitoSans Regular;
    font-size: 13px;
    color: black;
}
/*--------Random-Style---------*/
.markedStyleButton{
    border: 2px solid #2883d8;
    color: #2883d8;
}
.navBarTopSelected{
    color: burlywood;
}
.messageBoxStyle{
    background-color: rgba(0, 128, 0, 0.8);
}
a, input, button{
    outline: none;
}
.notWidthAllContainer{
    transition: 0.7s ease;
    width: 70%;
}
.widthAllContainer{
    transition: 0.7s ease;
    width: 100%;
}