.wrapper{
    width: 1170px;
    margin:0 auto;
}
/*_________Navegador______________________*/
.nav__bar__search--directive{
    width: 100%;
    height: 68px;
}
/*_________Barra lateral__________________*/
.bar__left--general{
    cursor: default;
    width: 270px;
    height: 1920px;
    border-right: 1px solid #e9ecee;
    font-family: NunitoSans Semibold;
}
.bar__left__1{
    width: 240px;
    height: 50px;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
}
.bar__left__1__button__filter{
    cursor: pointer;
}
.bar__left__1__button__filter__delete{
    cursor: pointer;
    color: #E06646;
}
.bar__left__2{
    width: 240px;
    height: 50px;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.slider-year{
    width: 240px;
    height: 50px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.slider-year-input{
    width: 240px;
    height: 30px;
}
.bar__left__4{
    width: 240px;
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
.bar__left__5{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.bar__left__5__generos--container{
    margin-right: 10px;
    margin-bottom: 10px;
}
.bar__left__5__generos__button{
    width: 115px;
    min-height: 33px;
    background-color: transparent;
    border-radius: 5px 5px 5px 5px;
    border: 2px solid #e9ecee;
}
/*_________Barra inferior_________________*/


/*___Show__Film___*/
.show__film__container--general{
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
}
.show__film__container--container{
    background-color: white;
    margin-left: 5%;
}
/*__button__Style__*/
.markedStyleButton{
    border: 2px solid #2883d8;
    color: #2883d8;
}
/*_____Box__Warning_____*/
.warning__box{
    z-index: 150;
    width: 400px;
    height: 200px;
    position: fixed;
    top: 100px;
    right: 100px;
    background-color: rgb(207, 26, 26);
    border-radius: 5px 5px 5px 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.warning__box button{
    width: 50px;
    height: 30px;
    border-radius: 2px 2px 2px 2px;
    background-color: white;
}
.warning__box--title{
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white;
}