body{
    margin: 0;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
}
.wrapper{
    max-width: 1170px;
    margin: 0 auto;
}
.wrapper-nav{
    width: 1170px;
    height: 68px;
    display: inline-flex;
    flex-flow: row;
    align-items: center;
}
/*--------Menu-movil----------*/
.menu-movil{
    width: 40px;
    height: 40px;
    margin-left: 20px;
    background-image: url('../img/menu.png');
    background-repeat: no-repeat;
}
.menu-left-general{
    transition: all 0.6s;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 68px;
    left: -1200px;
}
.menu-left-container{
    transition: all 0.6s;
    background-color: #5c6269;
    position: absolute;
    width: 250px;
    height: 100%;
    color: white;
    top: 0;
    left: 0;
}
.menu-left-container ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.menu-left-container li{
    box-sizing: content-box;
    border-bottom: 1px solid #1b2126;
    transition: 0.3s;
    padding: 10px;
}
.menu-left-container li:hover{
    background-color: #1b2126;
    border-left: 4px solid white;
}
.menu-left-container a{
    display: block;
    text-decoration: none;
}
.menuOpen{
    transition: all 0.6s;
    left: 0;
}
.search-menu{
    box-sizing: content-box;
    outline: 1px solid white;
}
/*--------Navegador-----------*/
.nav-bar-top-general{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    background-color: #1b2126;
    font-family: NunitoSans Regular;
}
.nav-bar-top{
    display: flex;
    color: white;
    margin: 0 auto;
}
.nav-start{
    width: 15%;
    justify-content: flex-start;
    align-items: center;
}
.nav-middle{
    width: 58%;
    justify-content: center;
    align-items: center;
}
.nav-end{
    width: 27%;
    justify-content: flex-end;
    align-items: center;
}
.nav-bar-top-img{
    width: 142px;
    height: 68px;
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
}
.nav-bar-top li{
    cursor: pointer;
    padding:15px;
    list-style-type: none;
    font-family: NunitoSans Regular;
    font-size: 14px;
}
.nav-bar-top-input{
    width: 100%;
    height: 38px;
    border-width: 0px;
    padding-left: 50px;
    border-radius: 6px 6px 6px 6px;
    background-color: #5c6269;
    background-image: url('../img/lupa.png');
    background-repeat: no-repeat;
    background-position: left center;
    background-position-x: 15px;
    font-family: NunitoSans Regular;
    font-size: 14px;
    color: whitesmoke;
}
.nav-bar-top-input::-webkit-input-placeholder{
    color: #1b2126;
}
.nav-bar-top button{
    height: 45px;
    width: 45px;
    margin-left: 15px;
    border-width: 0px;
    color: #1b2126;
    background-color:  #5c6269;
    border-radius: 50%;
    font-family: NunitoSans Regular;
    font-size: 15px;
}
.nav-bar-top button:hover{
    background-color: #1b2126;
    cursor: pointer;
    color: white;
}
/*------Barra lateral---------*/
.films-all-general{
    font-family: NunitoSans Regular;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}
.aside-filter-general{
    cursor: default;
    width: 27%;
    height: 100%;
    border-right: 1px solid #e9ecee;
    font-family: NunitoSans Semibold;
}
.filter-edit{
    width: 100%;
    height: 50px;
    max-width: 250px;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
}
.filter-img{
    width: 25px;
    height: 25px;
    background-image: url("../img/filter.png");
    background-repeat: no-repeat;
}
.filter-span{
    cursor: default;
}
.filter-span-delete{
    cursor: pointer;
    color: #E06646;
}
.year-text-container{
    width: 100%;
    max-width: 250px;
    height: 50px;
    display: inline-flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}
.year-span{
    cursor: default;
}
.year-span-text{
    cursor: default;
    padding-left: 5px;
    padding-right: 5px;
    font-family: NunitoSans Regular;
    font-size: 13px;
    color: #e9ecee;
    border: 2px solid #e9ecee;
    border-radius: 12px 12px 12px 12px;
}
.slider-year-general{
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.slider-year-container{
    width: 85%;
    max-width: 250px;
    height: 100%;
}
.genres-text-container{
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
.genres-text-title{
    cursor: default;
}
.genres-button-general{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.genres-button-container{
    margin-right: 10px;
    margin-bottom: 10px;
}
.genres-button{
    width: 115px;
    min-height: 33px;
    background-color: transparent;
    border-radius: 5px 5px 5px 5px;
    border: 2px solid #e9ecee;
}
/*---Barra Superior----*/
.bar-top-films{
    width: 100%;
    min-height: 50px;
    padding-top: 15px;
    align-items: center;
    padding-left: 2.3%;
}
.films-find{
    cursor: default;
    font-family: NunitoSans SemiBold;
    font-size: 15px;
    font-weight: bold;
}
.films-find-text{
    font-family: NunitoSans Regular;
    font-size: 15px;
    font-weight: 200;
}
.films-selected{
    height: 22px;
    cursor: pointer;
}
/*----------Films--Container-------------*/
.films-all-container{
    width: 70%;
}
/*-----Show-Film-----*/
.film-selected-general{
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 200;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
.film-selected-container{
    background-color: white;
    margin-left: 5%;
}
/*----Box-Message-----*/
.message-box{
    z-index: 150;
    width: 350px;
    height: 100px;
    position: fixed;
    top: 100px;
    right: 100px;
    background-color: rgba(207, 26, 26, 0.9);
    border-radius: 5px 5px 5px 5px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.message-box--title{
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif, NunitoSans;
    font-size: 17px;
    color: white;
}
/*-----show--form--user-----*/
.user-form-general{
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 150;
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}
.user-form-container{
    width: 350px;
    height: 250px;
    background-color: white;
    border-radius:  5px 5px 5px 5px;
    font-size: 20px;
}
.user-form-container-register{
    background-color: #5c6269;
    border-radius: 6px 6px 6px 6px;
    margin-top: 2px;
    border: 1px solid white;
    color: white;
    width: 350px;
    height: 50px;
}
.user-form-container-register:hover{
    background-color: #1b2126;
}
/*--------Register--container-----------*/
.user-form-register-container{
    width: 500px;
    height: 600px;
    background-color: white;
}
/*-----------Login--container-------------*/
.login-button-container{
    width: 100%;
    height: 100%;
}
.login-button-container button{
    width: 300px;
    height: 30px;
    border-width: 0px;
    background-color:  #5c6269;
    border-radius: 4px 4px 4px 4px;
    font-family: NunitoSans;
    font-size: 16px;
    color: #1b2126;
}
/*-------Form--Login--User--------*/
.form-login-user-general{
    cursor: pointer;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    transition: 0.4s ease-out;
    border-width: 0px;
    box-shadow: 0 0 1px 1px #E06646;
    background-color: #E06646;
    margin-right: 10px;
    position: fixed;
    top: 145px;
    right: 0;
    color: white;
}
.form-login-user-general:hover{
    transition: 0.4s ease-out;
    box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
}
.form-login-user-img{
    width: 90px;
    height: 90px;
    object-fit: cover;
    border-radius: 50%;
}
.form-login-user-text{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: NunitoSans Regular;
    font-size: 18px;
}
.form-login-user-exit{
    transition: 0.35s ease-in;
    width: 80px;
    height: 80px;
    opacity: 0;
    position: fixed;
    color: white;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-login-user-exit:hover{
    transition: 0.35s ease-out;
    position: fixed;
    top: 150px;
    background-color: #E06646;
    border-radius: 50%;
    opacity: 1;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arrow-up-container{
    width: 45px;
    height: 45px;
    cursor: pointer;
    box-sizing: content-box;
    transition: 0.3s ease-out;
    background-image: url('../img/arrow-up.png');
    box-shadow: 0 0 1px 1px #E06646;
    background-repeat: no-repeat;
    border-radius: 50%;
    position: fixed;
    margin-right: 30px;
    top: 30px;
    right: 0;
}
.arrow-up-container:hover{
    transition: 0.3s ease-in;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.15);
}
/*---------footer--films-----------*/
.films-footer-general{
    width: 100%;
    height: 1px;
    margin-top: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid #E8ECEF;
}
/*--------Random-Style---------*/
.displayOn{
    transition: 0.5s ease;
    display: initial;
}
.displayOff{
    transition: 0.5s ease;
    display: none;
}
.maxWidthBar{
    width: 100%;
    max-width: 250px;
}
.space-between{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
.center{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.left{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
.right{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}
.markedStyleButton{
    border: 2px solid #2883d8;
    color: #2883d8;
}
.navBarTopSelected{
    color: burlywood;
}
.messageBoxStyle{
    background-color: rgba(0, 128, 0, 0.8);
}
a, input, button{
    outline: none;
}
.notWidthAllContainer{
    transition: 0.7s ease;
    width: 70%;
}
.widthAllContainer{
    transition: 0.7s ease;
    width: 100%;
}
.borderRed{
    border: 1px solid red;
}
.withoutBorder{
    border-width: 0px;
}
.cursorPointer{
    cursor: pointer;
}
/*----Ng-Style----*/
/*--Error--Valid--*/
input.ng-touched.ng-dirty.ng-invalid.ng-not-empty{
    border: 1px solid red;
}
input.ng-touched.ng-pristine.ng-valid-required.ng-invalid.ng-not-empty{
    border: 1px solid red;
}
input.ng-untouched.ng-pristine.ng-valid-required.ng-invalid.ng-not-empty{
    border: 1px solid red;
}
/*_Accept_Valid_*/
.borderGreenStyle{
    border: 1px solid rgb(70, 209, 15);
}