<link rel="stylesheet" href="/PelisEOI/components/personalForm/personalFormStyle.css">
<!-- //////////////////////////////////////////////////////////// -->
<div ng-if="!$ctrl.load" class="component-view-container" ng-model-options="{allowInvalid: true, debounce: 200}" ng-cloak>
    <div class="component-view-close-container">
        <div class="component-view-close" ng-click="$ctrl.closeWindows()">
            <b>Cerrar</b>
        </div>
    </div>
    <form name="$ctrl.user.form" ng-model-options="{updateOn: 'default', allowInvalid : '$inherit'}" novalidate>
        <label>Nombre completo: </label>
        <input name="names" type="text" ng-model="$ctrl.user.create.name" ng-model-options="{updateOn: 'default', allowInvalid : '$inherit'}"
            ng-class="{borderRed:($ctrl.push && $ctrl.user.form.names.$invalid),withoutBorder:(!$ctrl.push || $ctrl.user.form.names.$valid)}"
            ng-minlength="5" ng-required="true" ng-maxlength="30" ng-keydown="$ctrl.push = false">
        <br>
        <label>Correo: </label>
        <input name="emailNew" type="email" ng-model-options="{updateOn: 'default', allowInvalid : '$inherit'}" ng-required="true" ng-model="$ctrl.user.create.emailNew"
            ng-class="{borderRed:($ctrl.push && $ctrl.user.form.emailNew.$invalid),withoutBorder:(!$ctrl.push || $ctrl.user.form.emailNew.$valid)}"
            ng-maxlength="35" ng-keydown="$ctrl.push = false">
        <br>
        <label>Contraseña: </label>
        <input name="passwordNew" type="password" ng-required="true" ng-model="$ctrl.user.create.passwordNew" ng-minlength="8" ng-maxlength="16"
            ng-class="{borderRed:($ctrl.push && $ctrl.user.form.passwordNew.$invalid),withoutBorder:(!$ctrl.push || $ctrl.user.form.passwordNew.$valid)}"
            ng-model-options="{updateOn: 'default', allowInvalid : '$inherit'}" ng-keydown="$ctrl.push = false" ng-change="$ctrl.checkPass()">
        <br>
        <label>Repite contraseña: </label>
        <input name="passwordRepit" type="password" ng-required="true" ng-class="{borderRed:$ctrl.push,withoutBorder:!$ctrl.push}"
            ng-minlength="8" ng-model-options="{updateOn: 'default', allowInvalid : '$inherit'}" ng-model="$ctrl.user.create.passwordRepit"
            ng-class="{borderRed:($ctrl.push && $ctrl.user.form.passwordRepit.$invalid),withoutBorder:(!$ctrl.push || $ctrl.user.form.passwordRepit.$valid)}"
            ng-maxlength="16" ng-keydown="$ctrl.push = false" ng-change="$ctrl.checkPass()">
        <br>
        <label>Teléfono (opcional): </label>
        <input name="phone" type="number" ng-required="true" ng-model-options="{updateOn: 'default', allowInvalid : '$inherit'}"
            ng-class="{borderRed:($ctrl.push && $ctrl.user.form.phone.$invalid),withoutBorder:(!$ctrl.push || $ctrl.user.form.phone.$valid)}"
            ng-model="$ctrl.user.create.phone" ng-minlength="9" ng-maxlength="9" ng-keydown="$ctrl.push = false">
        <br>
        <label>Foto (opcional): </label>
        <input name="photo" type="text" ng-model-options="{updateOn: 'default', allowInvalid : '$inherit'}" ng-required="true" ng-model="$ctrl.user.create.photo"
            ng-class="{borderRed:($ctrl.push && $ctrl.user.form.photo.$invalid),withoutBorder:(!$ctrl.push || $ctrl.user.form.photo.$valid)}"
            ng-minlength="5" ng-keydown="$ctrl.push = false">
        <br>
    </form>
    <div class="component-view-container-button">
        <button class="component-view-button" ng-click="$ctrl.signCreateUser()" ng-class="{borderGreenStyle:$ctrl.user.form.$valid,withoutBorder:true}">
            Terminado
        </button>
        <button class="component-view-button" ng-click="$ctrl.changeSign()" ng-class="{borderGreenStyle:$ctrl.user.form.$valid,withoutBorder:true}">
            Inicia Sesión
        </button>
    </div>
</div>
<div ng-if="$ctrl.load" class="component-form-load-container">
    <div class="component-form-load-img"></div>="" alt="cargando...">
</div>