/*_personal_form_style_container_*/
.component-view-container{
    width: 100%;
    min-height: 600px;
    max-height: 1000px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    font-family: NunitoSans Regular;
    font-weight: 200;
    font-size: 15px;
}
.component-view-container form{
    padding: 20px;
    border-radius: 3px 3px 3px 3px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: flex-start;
}
.component-view-container form input{
    width: 350px;
    height: 25px;
    color: white;
    border-radius: 2px 2px 2px 2px;
    background-color: #5c6269;
    border-width: 0px;
}
.component-view-container-button{
    width: 50%;
    height: 50px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: flex-end;
}
.component-view-button{
    width: 150px;
    height: 37px;
    margin: 20px;
    border-radius: 6px 6px 6px 6px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #5c6269;
    color: white;
    cursor: none;
}
.component-view-button:hover{
    background-color: #1b2126;
    cursor: pointer;
}
/*----Ng-Style----*/
/*--Error--Valid--*/
input.ng-touched.ng-dirty.ng-invalid.ng-not-empty{
    border: 1px solid red;
}
input.ng-touched.ng-pristine.ng-valid-required.ng-invalid.ng-not-empty{
    border: 1px solid red;
}
input.ng-untouched.ng-pristine.ng-valid-required.ng-invalid.ng-not-empty{
    border: 1px solid red;
}
/*_Accept_Valid_*/
.borderGreenStyle{
    border: 1px solid rgb(70, 209, 15);
}