/*_personal_form_style_container_*/
.component-view-container{
    width: 100%;
    min-height: 600px;
    max-height: 1000px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    font-family: NunitoSans Regular;
    font-weight: 200;
    font-size: 15px;
}
.component-view-container form{
    padding: 20px;
    border-radius: 3px 3px 3px 3px;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    align-items: flex-start;
}
.component-view-container form input{
    width: 350px;
    height: 25px;
    color: white;
    border-radius: 2px 2px 2px 2px;
    background-color: #5c6269;
}
.component-view-container-button{
    width: 75%;
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-end;
}
.component-view-button{
    width: 150px;
    height: 37px;
    margin: 20px;
    border-radius: 6px 6px 6px 6px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #5c6269;
    color: white;
    cursor: none;
}
.component-view-button:hover{
    background-color: #1b2126;
    cursor: pointer;
}
.component-view-close-container{
    width: 70%;
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    align-items: center;
}
.component-view-close{
    cursor: pointer;
}
.component-form-load-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.component-form-load-img{
    width: 200px;
    height: 200px;
    background-image: url('../../img/load.gif');
    background-repeat: no-repeat;
}