<!-- ///////////////////////////// NAVEGATOR /////////////////////////////// -->
<nav class="row" ng-cloak>
    <div class="nav-bar-row-top">
        <div class="wrapper-nav">
            <div class="col-lg-2">
                <div class="nav-bar-top">
                    <img src="/img/logo.png" alt="logotipo">
                </div>
            </div>
            <div class="col-lg-6">
                <ul class="nav-bar-top">
                    <li ng-if="$films.user.auth" ng-repeat="nav in $films.navList track by $index" ng-class="{navBarTopSelected:$films.checkView(nav)}"
                        ng-click="$films.changeView(nav)"> {{::nav}}
                    </li>
                </ul>
            </div>
            <div class="col-lg-4">
                <div class="nav-bar-top">
                    <input ng-if="$films.user.auth" placeholder="Encuentra tu pelicula favorita" ng-model="$films.search.title" ng-keyup="$films.getMovies('N')"
                        type="text">
                    <button ng-if="$films.user.auth" ng-click="$films.signOutUser()">Sign Out</button>
                </div>
                <div ng-show="$films.user.auth == false" class="login-button-container">
                    <button ng-if="!$films.user.sign" ng-click="$films.user.sign = true"> Inicia sesión </button>
                    <personal-login ng-if="$films.user.sign" form-login="$films.user.formLogin" message="$films.messageDisplay(e,type)" user="$films.user"
                        users="$films.users" change-view="$films.changeView(nav)"></personal-login>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- /////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////////// DISCOVER /////////////////////////////// -->
<div class="row" ng-show="$films.user.auth == true" ng-cloak>
    <div class="wrapper">
        <aside class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
            <div class="bar-filter-general">
                <div class="bar-filter">
                    <img class="filter-img" src="img/filter.png" alt="filter">
                    <span class="filter-span">Filter</span>
                    <span class="filter-span-delete" ng-click="$films.resetFilter()">Borrar</span>
                </div>
                <div class="year-text-container">
                    <span class="year-span">Año</span>
                    <span class="year-span-text">{{$films.slider.minYearValue}} - {{$films.slider.maxYearValue}}</span>
                </div>
                <div class="slider-year">
                    <!-- ///////////////////////////// SLIDER /////////////////////////////// -->
                    <ng-slider-own class="slider-year-own" min="$films.slider.minYear" max="$films.slider.maxYear" min-value="$films.slider.minYearValue"
                        max-value="$films.slider.maxYearValue" ng-change-slider="$films.changeFilter()"></ng-slider-own>
                    <!-- //////////////////////////////////////////////////////////////////// -->
                </div>
                <div class="genres-text-container">
                    <span class="genres-text-title">Géneros</span>
                </div>
                <div class="genres-button-general">
                    <div class="genres-button-container" ng-repeat="genre in $films.genreList">
                        <button class="genres-button" ng-class="{markedStyleButton:$films.checkGenreButton(genre.id)}" ng-click="$films.selectGenre(genre.id)">
                            {{genre.name}}
                        </button>
                    </div>
                </div>
            </div>
        </aside>
        <section class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
            <div class="films-all-container">
                <button ng-click="$films.getMovies('Y')">more</button>
                <!-- ///////////////////////////// CONTAINER ALL FILM /////////////////////////////// -->
                <films-container films="$films.films.data" total-films="$films.films.total" change-select="$films.changeFilter()" order-by-select="$films.orderBy"
                    bool-load="$films.load" src-load="/img/load.gif" selected="$films.search.order" show-film="$films.showFilm(film)"
                    elements-user="$films.elementsUser(object, clase, type)">
                </films-container>
                <!-- //////////////////////////////////////////////////////////////////////////////// -->
            </div>
        </section>
    </div>
</div>
<!-- /////////////////////////////////////////////////////////////////////// -->
<!-- ////////////////////////// SHOW FORM USER ///////////////////////////// -->
<div ng-show="$films.user.auth == false" class="user-form-general" ng-cloak>
    <personal-form class="user-form-container" user="$films.user" form="$films.user.formPersonal" message="$films.messageDisplay(e,type)"></personal-form>
    <div class="wrapper">
        <footer class="footer-page-films">
            <a class="footer-page-registrate" ng-click="$films.pushRegistrer()">Regístrate gratis</a>
            <h5 class="footer-page-coprit">Pelis EOI © 2017</h5>
        </footer>
    </div>
</div>
<!-- /////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////// SHOW FILM SELECTED /////////////////////////// -->
<div ng-show="$films.viewFilm == true" class="film-selected-general" ng-cloak>
    <div class="film-selected-container">
        <film-description film="$films.film" close="$films.showFilm()"></film-description>
    </div>
</div>
<!-- /////////////////////////////////////////////////////////////////////// -->
<!-- //////////////////////////// SHOW MESSAGE ///////////////////////////// -->
<div ng-show="$films.viewMessage == true" class="message-box" ng-class="{messageBoxStyle:$films.messageType}" ng-cloak>
    <p class="message-box--title"> {{$films.message}} </p>
</div>
<!-- /////////////////////////////////////////////////////////////////////// -->