/*__Top__Bar__Film__*/
.show__characteristic__film__selected--general{
    
    }
    .show__characteristic__film__selected--topbar{
        width: 100%;
        height: 100px;
    }
    .show__characteristic__film__selected--title{
    
    }
    .show__characteristic__film__selected--button__return__page{
    
    }
    .button__return__page--icon{
    
    }
    /*__Container__Film__*/
    .show__characteristic__film__selected--container{
        width: 100%;
        height: 745px;
    }