/*--Film--_*/
.selected-general{
    width: 100%;
    height: 100%;
    padding: 28px;
}
/*-Top-Bar-Film-*/
.component-film-topbar{
    width: 100%;
    height: 100px;
    display: flex;
    cursor: default;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e9ecee;
}
.component-film-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #1B2227;
}
.title-year{
    font-size: 16px;
    color: #A6AAAE;
}
.component-film-button-return-page{
    cursor: pointer;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 36px;
}
.component-film-button-return-page:hover{
    text-decoration: none;
}
.component-button-return-page-icon{
    width: 50px;
    height: 50px;
    border: 2px solid #E36854;
    border-radius: 50%;
    color: #E36854;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
/*-Container-Film-*/
.selected-container{
    width: 100%;
    height: 745px;
    padding-top: 15px;
    padding-bottom: 30px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;
    border-bottom: 1px solid #e9ecee;
}
.component-film-img{
    width: 440px;
    height: 660px;
}
.component-film-img img{
    width: 440px;
    height: 660px;
    object-fit: contain;
}
/*-Description-Film-*/
.component-film-description{
    width: 100%;
    margin-left: 35px;
    cursor: default;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}
.description-title{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif, NunitoSans Regular;
    font-size: 22px;
    margin-bottom: 10px;
}
.description-title-{
    text-align: left;
}
.description-title-runtime{
    color: #A4A8AC;
}
.description-calificacion{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
}
.description-calificacion{
    display: flex;
    flex-flow: row nowrap;
}
.description-calificacion-genre{
    height: 28px;
    border-radius: 12px 12px 12px 12px;
    background-color: #E7ECEC;
    margin-right: 8px;
    padding-top: 4px;
    padding-bottom: 7px;
    padding-left: 8px;
    padding-right: 8px;
    color: #5C6268;
}
.description-calificacion-ratings{
    max-width: 180px;
    height: 25px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.description-description{
    width: 100%;
    min-height: 150px;
    margin-top: 25px;
    color: #8C9397;
    text-align: justify;
}
.description-video-trailer{
    margin-top: 15px;
    width: 700px;
    height: 350px;
}
.video-trailer-container{
    width: 700px;
    height: 350px;
    border: 1px solid black;
}
.description-video-trailer-title{
    font-family: Arial, Helvetica, sans-serif, NunitoSans Regular;
    margin-bottom: 20px;
    font-size: 23px;
}
/*-_Image-Icon-_*/
.component-align-ratings{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
}
.component-ratings{
    display: flex;
    flex-flow: row;
    align-items: center;
}
.element-ratings-text{
    position: relative;
    top: 8px;
    right: 25px;
}
.element-ratings{
    width: 25px;
    height: 25px;
    margin-right: 6px;
    margin-left: 6px;
}
.element-imdb{
    background-image: url("../../img/stadistic-icon.png");
    background-position-x: 0px;
    background-position-y: -50px;
}
.element-rottem{
    background-image: url("../../img/stadistic-icon.png");
    background-position-x: 0px;
    background-position-y: -25px;
}
.element-metacritic{
    background-image: url("../../img/stadistic-icon.png");
    background-position-x: 0px;
    background-position-y: 0px;
}
/*--_Similar-Films--*/
.selected-films-similar{
    width: 100%;
    height: 550px;
    color: #555A61;
    cursor: default;
    border-bottom: 1px solid #e9ecee;
}
.selected-films-similar-title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.selected-films-similar-container{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    overflow-x: scroll;
}
.selected-films-similar-container-films{
    width: 300px;
    height: 400px;
}
.selected-films-similar-container-films-img{
    width: 300px;
    height: 400px;
    object-fit: contain;
    cursor: pointer;
}