<link rel="stylesheet" href="/components/filmDescription/filmDescriptionStyle.css">
<!-- //////////////////////////////////////////////////////////// -->
<div class="component__show__characteristic__film__selected--general">
    <div class="component__show__characteristic__film__selected--topbar">
        <div class="component__show__characteristic__film__selected--title">{{$ctrl.film.Title}}</div>
        <a href="/" class="component__show__characteristic__film__selected--button__return__page">
            <div class="component__button__return__page--icon"></div>
        </a>
    </div>
    <div class="component__show__characteristic__film__selected--container">
        
    </div>
</div>