<link rel="stylesheet" href="/PelisEOI/components/filmDescription/filmDescriptionStyle.css">
<!-- //////////////////////////////////////////////////////////// -->
<div class="selected-general" ng-cloak>
    <div class="component-film-topbar">
        <div class="component-film-title">
            <span>{{$ctrl.film.title}}</span>
            <span class="title-year">{{$ctrl.film.date[0]}}</span>
        </div>
        <a class="component-film-button-return-page" ng-click="$ctrl.close()">
            <div class="component-button-return-page-icon">X</div>
        </a>
    </div>
    <div class="selected-container">
        <div class="component-film-img">
            <img ng-src="{{$ctrl.film.poster}}" onerror="this.src='/PelisEOI/img/no-image-peli.gif'" alt="photo film">
        </div>
        <div class="component-film-description">
            <div class="description-title">
                <span class="description-title-">Sipnosis</span>
                <span ng-if="$ctrl.film.runtime != '0h0m'" class="description-title-runtime">{{$ctrl.film.runtime}}</span>
            </div>
            <div class="description-calificacion">
                <div class="description-calificacion">
                    <div class="description-calificacion-genre" ng-repeat="genre in $ctrl.film.genres track by $index">{{genre.name}}
                    </div>
                </div>
                <div ng-if="$ctrl.film.ombdID.ratings" class="description-calificacion-ratings">
                    <div class="component-align-ratings">
                        <div ng-if="$ctrl.film.ombdID.ratings.imdb" class="element-ratings element-imdb"></div>
                        <div class="component-ratings-text">{{$ctrl.film.ombdID.ratings.imdb}}</div>
                        <div ng-if="$ctrl.film.ombdID.ratings.rottem" class="element-ratings element-rottem"></div>
                        <div class="component-ratings-text">{{$ctrl.film.ombdID.ratings.rottem}}</div>
                        <div ng-if="$ctrl.film.ombdID.ratings.metacritic" class="element-ratings element-metacritic"></div>
                        <div class="component-ratings-text">{{$ctrl.film.ombdID.ratings.metacritic}}</div>
                    </div>
                </div>
            </div>
            <div class="description-description">
                {{$ctrl.film.overview}}
            </div>
            <div ng-if="$ctrl.film.video.length > 0" class="description-video-trailer">
                <!-- VIDEO TRAILER -->
                <div class="description-video-trailer-title">{{$ctrl.film.video[0].name}}</div>
                <iframe class="video-trailer-container" ng-src="{{$ctrl.film.video[0].url}}" frameborder="0" gesture="media" allow="encrypted-media"
                    allowfullscreen>
                </iframe>
            </div>
        </div>
    </div>
    <div ng-if="$ctrl.film.similar.data.length > 0" class="selected-films-similar">
        <div class="selected-films-similar-title">Películas similares</div>
        <div class="selected-films-similar-container">
            <div class="selected-films-similar-container-films" ng-repeat="similar in $ctrl.film.similar.data">
                <img class="selected-films-similar-container-films-img" ng-src="{{similar.poster}}" onerror="this.src='/img/no-image-peli.gif'"
                    alt="photo similar film" ng-click="$ctrl.showFilm({film:similar})">
            </div>
        </div>
    </div>
</div>