<link rel="stylesheet" href="/components/filmsContainer/filmsContainerStyle.css">
<!-- //////////////////////////////////////////////////////////// -->
<div class="component__films__ombD--general">
    <div class="component__bar__top__films">
        <div 
            ng-if="$ctrl.totalFilms.length > 0" 
            class="component__films__find">{{$ctrl.totalFilms}}
            <span class="component__films__find__text"> películas encontradas </span>
        </div>
        <select name="oderPelis" ng-model="$ctrl.selected" ng-change="$ctrl.changeSelect()">
            <option ng-repeat="orderBy in $ctrl.orderBySelect track by $index">{{orderBy.name}}</option>
        </select>
    </div>
    <div class="component__card__films--general">
        <div 
            class="component__card__films--container" 
            ng-repeat="film in $ctrl.films | filter:$ctrl.filter track by film.id">
            <img 
                class="component__card__films__img" 
                ng-src="{{film.poster}}" 
                onerror="this.src='/img/no-image-peli.gif'" 
                ng-click="$ctrl.showFilm({film:film})">
            <div class="component__card__films__overlay">
                <div class="component__card__films__text">
                        <div class="component__card__films__text__element">Título: {{film.original_title}}</div>
                        <div class="component__card__films__text__element">Fecha: {{film.release_date}} </div>
                        <div class="component__card__films__text__element">Votación: {{film.vote_average}}</div>
                        <div class="component__card__films__text__element">Votos: {{film.vote_count}}</div>
                </div>
            </div>
        </div>
    </div>
    <div 
        ng-if="$ctrl.boolLoad" 
        class="component__loading__films">
        <img 
            class="component__loading__films__img" 
            ng-src="{{$ctrl.srcLoad}}">
    </div>
</div>