/*---Barra Superior----*/
.component-bar-top-films{
    width: 100%;
    height: 50px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.component-films-find{
    cursor: default;
    font-family: NunitoSans SemiBold;
    font-size: 15px;
    font-weight: bold;
}
.component-films-find-text{
    font-family: NunitoSans Regular;
    font-size: 15px;
    font-weight: 200;
}
/*----Container-Films---*/
.component-card-films-general{
    background-color: white;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: space-between;
}
.component-card-films-container{
    width: 260px;
    height: 400px;
    background-color: transparent;
    margin-bottom: 30px;
    position: relative;
}
.component-card-films-img{
    transition: .6s ease;
    width: 260px;
    height: 400px;
    opacity: 1;
}
.component-card-films-overlay{
    transition: .6s ease;
    background-color: black;
    position: absolute;
    top: 200;
    bottom: 0;
    left: 0px;
    right: 0;
    width: 260px;
    height: 65px;
    opacity: 0;
}
.component-card-films-container:hover{
    cursor: pointer;
}
.component-card-films-container:hover .component-card-films-img{
    opacity: 0.3;
}
.component-card-films-container:hover .component-card-films-overlay{
    opacity: 1;
}
.component-card-films-img:hover{
    box-shadow: 0 0 2px 2px black;
}
.component-card-films-text {
    width: 100%;
    color: white;
    font-size: 15px;
    position: absolute;
    top: 0%;
    left: 0%;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}
.component-align{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-bottom: 5px;
}
.component-element{
    display: flex;
    flex-flow: row;
    align-items: center;
}
.element{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.element1{
    background-image: url('/img/stadistic-icon-0.png');
    background-position-x: -25px;
    background-position-y: 0px;
}
.element2{
    background-image: url('/img/stadistic-icon-0.png');
    background-position-x: -25px;
    background-position-y: -25px;
}
.element3{
    background-image: url('/img/stadistic-icon-0.png');
    background-position-x: -50px;
    background-position-y: -25px;
}
.element4{
    background-image: url('/img/stadistic-icon-0.png');
    background-position-x: -50px;
    background-position-y: -25px;
}
.component-loading-films{
    display: flex;
    flex-flow: row;
    justify-content: center;
}
.component-loading-films-img{
    width: 160px;
    height: 130px;
}