<link rel="stylesheet" href="/components/sliderOwn/sliderOwnStyle.css">
<!-- //////////////////////////////////////////////////////////// -->
<div class="component-slider-general">
    <div class="component-slider-container">
        <div class="component-slider-progressMin"></div>
        <div class="component-slider-progressMedium"></div>
        <div class="component-slider-progressMax"></div>
        <div class="component-slider-indicator-min">
            <p id="component-slider-value-min">{{$ctrl.slider}}</p>
        </div>
        <div class="component-slider-indicator-max">
            <p id="component-slider-value-max">{{$ctrl.slider}}</p>
        </div>
    </div>
</div>