/*-----------Login--container-------------*/
.component-login-button-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-family: NunitoSans Regular;
    font-weight: 200;
    font-size: 15px;
}
.component-login-load-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.component-login-load-container img{
    width: 150px;
    height: 150px;
}
.component-login-button-container form{
    display: inline-flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
.component-login-button-container form label{
    margin-top: 4px;
    margin: 0 ;
}
.component-login-button-container form input{
    width: 250px;
    height: 25px;
    color: white;
    border-radius: 2px 2px 2px 2px;
    background-color: #5c6269;
}
.component-login-button-container form input::-webkit-input-placeholder{
    color: #24292c;
}
.component-login-button-container button{
    width: 55px;
    height: 25px;
    border-width: 0px;
    border-radius: 2px 2px 2px 2px;
    margin-bottom: 4px;
    background-color: #5c6269;
    color: white;
}
.component-login-button-container button:hover{
    background-color: #1b2126;
    cursor: pointer;
    color: white;
}
.component-login-button-container-close{
    cursor: pointer;
}
.component-login-form-colum{
    display: flex;
    flex-flow: column;
    margin-right: 13px;
}
.borderRed{
    border: 1px solid red;
}
.withoutBorder{
    border-width: 0px;
}